* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 600px;
}

h1 {
  margin: 25px 0px;
}

h1:first-of-type {
  margin-top: 10px;
}

img {
  padding-left: 50p;
  border-radius: 15px;
}

#demo1,
#demo2,
#demo3 {
  width: 500px;
  margin: 0px auto;
}

#demo2 {
  padding: 50px;
  background-color: rgb(172, 200, 229);
  color: rgb(38, 27, 71);
  border-radius: 15px;
}
